# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Runtime folders
exam_middleware/uploads/
exam_middleware/storage/

# Environment
.env

# Virtual environment
venv/

# Moodle Docker data
moodle-docker/mariadb_data/
moodle-docker/moodle_data/
moodle-docker/moodledata_data/
