# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Runtime folders
exam_middleware/uploads/
exam_middleware/storage/

# Environment
.env
.env.docker

# Virtual environment
venv/

# Local DB backups/snapshots
backups/

# Moodle Docker data
moodle-docker/mariadb_data/
moodle-docker/moodle_data/
moodle-docker/moodledata_data/

# SQLite databases
*.db
exam_middleware/lms_sync.db

