databases:
  - name: exam-middleware-db
    plan: free
    databaseName: exam_middleware
    user: exam_user

services:
  - type: web
    name: exam-middleware
    plan: free
    runtime: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    rootDir: exam_middleware
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: exam-middleware-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "false"
      - key: MOODLE_BASE_URL
        value: "https://saveetha-exam-middleware.moodlecloud.com"
      - key: MOODLE_ADMIN_TOKEN
        value: "91ddb0ff0a01c7f4a0ac91378a545bdc"
      - key: MOODLE_SERVICE
        value: "moodle_mobile_app"
      - key: UPLOAD_DIR
        value: "./uploads"
      - key: LOG_LEVEL
        value: "INFO"
      - key: CORS_ORIGINS
        value: '["*"]'
      - key: HF_SPACE_URL
        value: "https://kavinraja-ml-service.hf.space"